<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>A new task is created with you as the default contact person"</p>
  <strong>Task Name:</strong><%= @task_item.task %>

</body>
</html>